$header-background: #025FEB;
$table-background-border: #E4EDF2;
$table-row-background: #F6F7F7;
$footer-background: #F6F7F7;

$header-text: #FFFFFF;
$heading-text: #182C62;
$table-text: #4B5C68;
$footer-text: #4B5C68;
$points-text: #025FEB;

$menu-font-size: 16px;
$heading-font-size: 24px;
$table-header-font-size: 12px;
$table-cell-font-size: 14px;
$table-cell-bolded-font-size: 16px;
$footer-font-size: 14px;